* {
    box-sizing: border-box; //reset
    margin: 0; //reset
    padding: 0; //reset
    font-family: "Noto Sans TC"; //網頁字體
    font-style: normal; //網頁字體
}

@mixin screen1250 {
    @media (max-width: 1250px) {
        @content;
    }
}

@mixin screen1000 {
    @media (max-width: 1000px) {
        @content;
    }
}
@mixin screen910 {
    @media (max-width: 910px) {
        @content;
    }
}

@mixin screen750 {
    @media (max-width: 750px) {
        @content;
    }
}

@mixin screen500 {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin screen360 {
    @media (max-width: 360px) {
        @content;
    }
}

.filmBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    // display: flex;
    display: none;
    justify-content: center;
}
.signinBlock {
    width: 340px;
    height: 275px;
    // height: 298px;
    top: 80px;
    position: fixed;
    z-index: 101;
    display: none;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    .signinBackground {
        width: 100%;
        height: 10px;
        background: linear-gradient(270deg, #378 0%, #6ab 100%);
        border-radius: 6px 6px 0 0;
    }
    .signinClose {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }
    .signinContent {
        width: calc(100% - 30px);
        text-align: center;
        height: 235px;
        // height: 258px;
        background-color: #ffffff;
        border-radius: 0 0 6px 6px;
        padding: 15px;
        box-sizing: content-box;
        .signinTitle {
            height: 27px;
            color: #666666;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 15px;
        }
        input {
            box-sizing: border-box;
            width: 310px;
            height: 47px;
            border-radius: 5px;
            border: 1px Gray solid;
            font-weight: 600;
            margin-bottom: 10px;
            padding: 0 15px;
        }
        .signinBtn {
            cursor: pointer;
            width: 310px;
            height: 47px;
            background-color: #448899;
            border-radius: 5px;
            text-align: center;
            line-height: 47px;
            font-size: 20px;
            font-weight: 700;
            color: white;
            margin-bottom: 10px;
        }

        .signinCreateAccount {
            cursor: pointer;
            color: #666666;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        .signinCreateAccount:hover {
            color: black;
        }
        .signinMessage {
            display: none;
            font-size: 16px;
            font-weight: 700;
            color: red;
            text-align: center;
        }
    }
}

.registerBlock {
    width: 340px;
    height: 332px;
    // height: 355px;
    top: 80px;
    position: fixed;
    z-index: 101;
    display: none;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    .registerBackground {
        width: 100%;
        height: 10px;
        background: linear-gradient(270deg, #378 0%, #6ab 100%);
        border-radius: 6px 6px 0 0;
    }
    .registerClose {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }
    .registerContent {
        width: calc(100% - 30px);
        text-align: center;
        height: 302px;
        // height: 325px;
        background-color: #ffffff;
        border-radius: 0 0 6px 6px;
        padding: 15px;
        box-sizing: content-box;
        .registerTitle {
            height: 27px;
            color: #666666;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 15px;
        }
        input {
            box-sizing: border-box;
            width: 310px;
            height: 47px;
            border-radius: 5px;
            border: 1px Gray solid;
            font-weight: 600;
            margin-bottom: 10px;
            padding: 0 15px;
        }
        .registerBtn {
            cursor: pointer;
            width: 310px;
            height: 47px;
            background-color: #448899;
            border-radius: 5px;
            text-align: center;
            line-height: 47px;
            font-size: 20px;
            font-weight: 700;
            color: white;
            margin-bottom: 10px;
        }

        .registerSignInTo {
            cursor: pointer;
            color: #666666;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        .registerCreateAccount:hover {
            color: black;
        }
        .registerMessage {
            display: none;
            font-size: 16px;
            font-weight: 700;
            color: red;
            text-align: center;
        }
    }
}

.nav {
    width: 100vw;
    height: 54px;
    position: fixed;
    z-index: 500;
    background-color: white;
    top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    div.nav_wrap {
        position: fixed;
        top: 0;
        display: flex;
        width: 1200px;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        height: 54px;
        z-index: 501;
        @include screen1250() {
            width: calc(100% - 135px);
        }
        @include screen750() {
            width: calc(100% - 25px);
        }
        div.nav_home {
            cursor: pointer;
            font-size: 30px;
            font-weight: 700;
            color: #448899;
            width: auto;
            line-height: 34px;
            @include screen1250() {
                margin-left: 10px;
            }
        }
        div.nav_menu {
            width: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button.nav_button {
                cursor: pointer;
                padding: 10px;
                background-color: #fff;
                border: none;
                color: #666;
                font-size: 16px;
                font-weight: 500;
                line-height: 13.3px;
                font-family: "Noto Sans TC";
                @include screen360() {
                    padding: 5px;
                }
            }
            button.signout_btn {
                display: none;
            }
            button.member_btn {
                display: none;
            }
        }
    }
}

main {
    padding-top: 60px;
    width: 100%;
    height: 100%;
    .sectionPicture {
        margin: 0 auto;
        justify-content: center;
        width: 1200px;
        height: 480px;
        display: flex;
        @include screen1250() {
            width: 90%;
        }
        @include screen1000() {
            width: 85%;
        }
        @include screen750() {
            display: block;
            width: 100%;
        }

        .pictureLeft {
            width: 540px;
            height: 406px;
            margin-top: 37px;
            margin-left: 5px;
            position: relative;

            @include screen750() {
                margin: 0px auto;
                width: 100%;
            }

            .imgBackground {
                width: 100%;
                height: 100%;
                position: absolute;
                object-position: center center;
                object-fit: cover; /*裁切縮放*/
            }
            .carouselBtnBlock {
                width: 540px;
                height: 36px;
                margin-top: 185px;
                position: absolute;
                display: flex;
                align-items: center; /* 垂直置中 */
                justify-content: space-between;
                @include screen1250() {
                    width: 100%;
                }

                .carouselBtn {
                    cursor: pointer;
                    margin: 0 10px;
                    height: 36px;
                    width: 36px;
                    border-radius: 50%;
                    background-color: white;
                    opacity: 0.7;
                    display: flex;
                    align-items: center; /* 垂直置中 */
                    justify-content: center;
                    @include screen1000() {
                        height: 25px;
                        width: 25px;
                    }
                    img {
                        opacity: 0.5;
                        font-size: 20px;
                        @include screen1000() {
                            font-size: 1.2rem;
                        }
                    }
                }
                .carouselBtn:hover {
                    opacity: 0.7;
                    background-color: rgb(62, 61, 61);
                    color: white;
                    border-color: #262525;
                    border-style: solid;
                }
            }
            .carouselUnderBlock {
                width: 100%;
                height: 12px;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 13px;
                .carouselInturn {
                    cursor: pointer;
                    margin: 0 3px;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    background-color: white;
                    opacity: 0.7;
                    display: flex;
                    justify-content: center;
                    align-items: center; /* 垂直置中 */
                    .carouselInturnshow {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        background-color: #262525;
                        display: none;
                    }
                }
                .carouselInturn:hover {
                    opacity: 0.5;
                    background-color: rgb(62, 61, 61);
                    border-color: #050505;
                    border-style: solid;
                }
            }
        }
        .pictureRight {
            width: 615px;
            height: 406px;
            margin-top: 37px;
            margin-left: 30px;
            color: #666666;
            @include screen750() {
                margin: 20px auto;
                width: 100%;
            }

            .attractionName {
                width: 100%;
                height: 33px;
                font-weight: 700;
                font-size: 24px;
                @include screen910() {
                    font-size: 20px;
                }
                @include screen750() {
                    margin-left: 20px;
                }
            }
            .attractionSort {
                width: 100%;
                height: 22px;
                margin-top: 20px;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 1px;
                @include screen750() {
                    margin-left: 20px;
                }
            }
            .orderDirect {
                width: 100%;
                height: 302px;
                margin-top: 20px;
                background-color: #e8e8e8;

                .orderTitle {
                    padding-top: 15px;
                    margin-left: 20px;
                    font-weight: 700;
                    font-size: 16px;
                }
                .orderScribe {
                    margin-left: 20px;
                    margin-top: 15px;
                    font-weight: 500;
                    font-size: 16px;
                }
                .orderScribe {
                    margin-left: 20px;
                    margin-top: 15px;
                    font-weight: 500;
                    font-size: 16px;
                    @include screen500() {
                        margin-right: 10px;
                    }
                }
                .dateBlock {
                    .dateTitle {
                        margin-left: 20px;
                        margin-top: 20px;
                        font-weight: 700;
                        font-size: 16px;
                        display: inline-block;
                        .dateIn {
                            padding: 5px 10px;
                        }
                    }
                }
                .timeBlock {
                    margin-top: 15px;
                    height: 22px;
                    display: flex;
                    align-items: center; /* 垂直置中 */
                    .timeTitle {
                        margin-left: 20px;
                        font-weight: 700;
                        font-size: 16px;
                    }
                    input {
                        margin-left: 5px;
                        height: 22px;
                        width: 22px;
                        border-radius: 100px;
                        accent-color: #448899;
                    }
                    label {
                        margin-left: 4px;
                        font-weight: 500;
                        font-size: 16px;
                    }
                    label + input {
                        margin-left: 8px;
                    }
                }
                .feeBlock {
                    display: flex;
                    margin-top: 15px;
                    .feeTitle {
                        margin-left: 20px;
                        font-weight: 700;
                        font-size: 16px;
                    }
                    .fee {
                        margin-left: 5px;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
                .orderMessage {
                    margin-left: 20px;
                    margin-top: 5px;
                    font-size: 16px;
                    font-weight: 700;
                    display: none;
                }
                .orderBtn {
                    cursor: pointer;
                    margin-left: 20px;
                    margin-top: 25px;
                    padding: 5px 20px;
                    width: 154px;
                    height: 36px;
                    background-color: #448899;
                    font-size: 19px;
                    color: white;
                    border-radius: 5px 5px 5px 5px;
                }
                .orderBtn:hover {
                    opacity: 0.8;
                    background-color: rgb(62, 61, 61);
                }
            }
        }
    }
    hr {
        max-width: 1200px;
        margin: 0 auto;
        height: 1px;
        border: none;
        background-color: #e8e8e8;
        @include screen1250() {
            width: 90%;
        }
        @include screen1000() {
            width: 85%;
        }
        @include screen750() {
            margin: 0 auto;
            margin-top: 400px;
            width: 100%;
        }
    }

    .sectioncontain {
        width: 100%;
        color: #666666;
        p {
            width: 1180px;
            margin: 0 auto;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            // border:solid 1px #666666;
            @include screen1250() {
                width: 90%;
            }
            @include screen1000() {
                width: 85%;
            }
        }

        .describe {
            letter-spacing: 1px;
            margin-top: 50px;
        }
        .addressTitle {
            letter-spacing: 1px;
            height: 32px;
            line-height: 32px;
            font-weight: 700;
            margin-top: 20px;
        }
        .transportTitle {
            letter-spacing: 1px;
            height: 32px;
            line-height: 32px;
            font-weight: 700;
            margin-top: 20px;
        }
    }
}

.footer {
    width: 100%;
    height: 104px;
    margin-top: 40px;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
