@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
}

.filmBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
}

.signinBlock {
  width: 340px;
  height: 275px;
  top: 80px;
  position: fixed;
  z-index: 101;
  display: none;
  background-color: transparent;
  overflow: hidden;
  border-radius: 0 0 6px 6px;
}
.signinBlock .signinBackground {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #378 0%, #6ab 100%);
  border-radius: 6px 6px 0 0;
}
.signinBlock .signinClose {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.signinBlock .signinContent {
  width: calc(100% - 30px);
  text-align: center;
  height: 235px;
  background-color: #ffffff;
  border-radius: 0 0 6px 6px;
  padding: 15px;
  box-sizing: content-box;
}
.signinBlock .signinContent .signinTitle {
  height: 27px;
  color: #666666;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}
.signinBlock .signinContent input {
  box-sizing: border-box;
  width: 310px;
  height: 47px;
  border-radius: 5px;
  border: 1px Gray solid;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0 15px;
}
.signinBlock .signinContent .signinBtn {
  cursor: pointer;
  width: 310px;
  height: 47px;
  background-color: #448899;
  border-radius: 5px;
  text-align: center;
  line-height: 47px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
.signinBlock .signinContent .signinCreateAccount {
  cursor: pointer;
  color: #666666;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.signinBlock .signinContent .signinCreateAccount:hover {
  color: black;
}
.signinBlock .signinContent .signinMessage {
  display: none;
  font-size: 16px;
  font-weight: 700;
  color: red;
  text-align: center;
}

.registerBlock {
  width: 340px;
  height: 332px;
  top: 80px;
  position: fixed;
  z-index: 101;
  display: none;
  background-color: transparent;
  overflow: hidden;
  border-radius: 0 0 6px 6px;
}
.registerBlock .registerBackground {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #378 0%, #6ab 100%);
  border-radius: 6px 6px 0 0;
}
.registerBlock .registerClose {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.registerBlock .registerContent {
  width: calc(100% - 30px);
  text-align: center;
  height: 302px;
  background-color: #ffffff;
  border-radius: 0 0 6px 6px;
  padding: 15px;
  box-sizing: content-box;
}
.registerBlock .registerContent .registerTitle {
  height: 27px;
  color: #666666;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}
.registerBlock .registerContent input {
  box-sizing: border-box;
  width: 310px;
  height: 47px;
  border-radius: 5px;
  border: 1px Gray solid;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0 15px;
}
.registerBlock .registerContent .registerBtn {
  cursor: pointer;
  width: 310px;
  height: 47px;
  background-color: #448899;
  border-radius: 5px;
  text-align: center;
  line-height: 47px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
.registerBlock .registerContent .registerSignInTo {
  cursor: pointer;
  color: #666666;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.registerBlock .registerContent .registerCreateAccount:hover {
  color: black;
}
.registerBlock .registerContent .registerMessage {
  display: none;
  font-size: 16px;
  font-weight: 700;
  color: red;
  text-align: center;
}

.nav {
  width: 100vw;
  height: 54px;
  position: fixed;
  z-index: 500;
  background-color: white;
  top: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}
.nav div.nav_wrap {
  position: fixed;
  top: 0;
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  height: 54px;
  z-index: 501;
}
@media (max-width: 1250px) {
  .nav div.nav_wrap {
    width: calc(100% - 135px);
  }
}
@media (max-width: 750px) {
  .nav div.nav_wrap {
    width: calc(100% - 25px);
  }
}
.nav div.nav_wrap div.nav_home {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  color: #448899;
  width: auto;
  line-height: 34px;
}
@media (max-width: 1250px) {
  .nav div.nav_wrap div.nav_home {
    margin-left: 10px;
  }
}
.nav div.nav_wrap div.nav_menu {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav div.nav_wrap div.nav_menu button.nav_button {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border: none;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  font-family: "Noto Sans TC";
}
@media (max-width: 360px) {
  .nav div.nav_wrap div.nav_menu button.nav_button {
    padding: 5px;
  }
}
.nav div.nav_wrap div.nav_menu button.signout_btn {
  display: none;
}

main {
  padding-top: 60px;
  width: 100%;
  height: 100%;
}
main .sectionPicture {
  margin: 0 auto;
  justify-content: center;
  width: 1200px;
  height: 480px;
  display: flex;
}
@media (max-width: 1250px) {
  main .sectionPicture {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  main .sectionPicture {
    width: 85%;
  }
}
@media (max-width: 750px) {
  main .sectionPicture {
    display: block;
    width: 100%;
  }
}
main .sectionPicture .pictureLeft {
  width: 540px;
  height: 406px;
  margin-top: 37px;
  margin-left: 5px;
  position: relative;
}
@media (max-width: 750px) {
  main .sectionPicture .pictureLeft {
    margin: 0px auto;
    width: 100%;
  }
}
main .sectionPicture .pictureLeft .imgBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover; /*裁切縮放*/
}
main .sectionPicture .pictureLeft .carouselBtnBlock {
  width: 540px;
  height: 36px;
  margin-top: 185px;
  position: absolute;
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: space-between;
}
@media (max-width: 1250px) {
  main .sectionPicture .pictureLeft .carouselBtnBlock {
    width: 100%;
  }
}
main .sectionPicture .pictureLeft .carouselBtnBlock .carouselBtn {
  cursor: pointer;
  margin: 0 10px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: center;
}
@media (max-width: 1000px) {
  main .sectionPicture .pictureLeft .carouselBtnBlock .carouselBtn {
    height: 25px;
    width: 25px;
  }
}
main .sectionPicture .pictureLeft .carouselBtnBlock .carouselBtn img {
  opacity: 0.5;
  font-size: 20px;
}
@media (max-width: 1000px) {
  main .sectionPicture .pictureLeft .carouselBtnBlock .carouselBtn img {
    font-size: 1.2rem;
  }
}
main .sectionPicture .pictureLeft .carouselBtnBlock .carouselBtn:hover {
  opacity: 0.7;
  background-color: rgb(62, 61, 61);
  color: white;
  border-color: #262525;
  border-style: solid;
}
main .sectionPicture .pictureLeft .carouselUnderBlock {
  width: 100%;
  height: 12px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 13px;
}
main .sectionPicture .pictureLeft .carouselUnderBlock .carouselInturn {
  cursor: pointer;
  margin: 0 3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center; /* 垂直置中 */
}
main .sectionPicture .pictureLeft .carouselUnderBlock .carouselInturn .carouselInturnshow {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #262525;
  display: none;
}
main .sectionPicture .pictureLeft .carouselUnderBlock .carouselInturn:hover {
  opacity: 0.5;
  background-color: rgb(62, 61, 61);
  border-color: #050505;
  border-style: solid;
}
main .sectionPicture .pictureRight {
  width: 615px;
  height: 406px;
  margin-top: 37px;
  margin-left: 30px;
  color: #666666;
}
@media (max-width: 750px) {
  main .sectionPicture .pictureRight {
    margin: 20px auto;
    width: 100%;
  }
}
main .sectionPicture .pictureRight .attractionName {
  width: 100%;
  height: 33px;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 910px) {
  main .sectionPicture .pictureRight .attractionName {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  main .sectionPicture .pictureRight .attractionName {
    margin-left: 20px;
  }
}
main .sectionPicture .pictureRight .attractionSort {
  width: 100%;
  height: 22px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
@media (max-width: 750px) {
  main .sectionPicture .pictureRight .attractionSort {
    margin-left: 20px;
  }
}
main .sectionPicture .pictureRight .orderDirect {
  width: 100%;
  height: 302px;
  margin-top: 20px;
  background-color: #e8e8e8;
}
main .sectionPicture .pictureRight .orderDirect .orderTitle {
  padding-top: 15px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
}
main .sectionPicture .pictureRight .orderDirect .orderScribe {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
}
main .sectionPicture .pictureRight .orderDirect .orderScribe {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 500px) {
  main .sectionPicture .pictureRight .orderDirect .orderScribe {
    margin-right: 10px;
  }
}
main .sectionPicture .pictureRight .orderDirect .dateBlock .dateTitle {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
}
main .sectionPicture .pictureRight .orderDirect .dateBlock .dateTitle .dateIn {
  padding: 5px 10px;
}
main .sectionPicture .pictureRight .orderDirect .timeBlock {
  margin-top: 15px;
  height: 22px;
  display: flex;
  align-items: center; /* 垂直置中 */
}
main .sectionPicture .pictureRight .orderDirect .timeBlock .timeTitle {
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
}
main .sectionPicture .pictureRight .orderDirect .timeBlock input {
  margin-left: 5px;
  height: 22px;
  width: 22px;
  border-radius: 100px;
  accent-color: #448899;
}
main .sectionPicture .pictureRight .orderDirect .timeBlock label {
  margin-left: 4px;
  font-weight: 500;
  font-size: 16px;
}
main .sectionPicture .pictureRight .orderDirect .timeBlock label + input {
  margin-left: 8px;
}
main .sectionPicture .pictureRight .orderDirect .feeBlock {
  display: flex;
  margin-top: 15px;
}
main .sectionPicture .pictureRight .orderDirect .feeBlock .feeTitle {
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
}
main .sectionPicture .pictureRight .orderDirect .feeBlock .fee {
  margin-left: 5px;
  font-weight: 500;
  font-size: 16px;
}
main .sectionPicture .pictureRight .orderDirect .orderMessage {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  display: none;
}
main .sectionPicture .pictureRight .orderDirect .orderBtn {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 25px;
  padding: 5px 20px;
  width: 154px;
  height: 36px;
  background-color: #448899;
  font-size: 19px;
  color: white;
  border-radius: 5px 5px 5px 5px;
}
main .sectionPicture .pictureRight .orderDirect .orderBtn:hover {
  opacity: 0.8;
  background-color: rgb(62, 61, 61);
}
main hr {
  max-width: 1200px;
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: #e8e8e8;
}
@media (max-width: 1250px) {
  main hr {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  main hr {
    width: 85%;
  }
}
@media (max-width: 750px) {
  main hr {
    margin: 0 auto;
    margin-top: 400px;
    width: 100%;
  }
}
main .sectioncontain {
  width: 100%;
  color: #666666;
}
main .sectioncontain p {
  width: 1180px;
  margin: 0 auto;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
@media (max-width: 1250px) {
  main .sectioncontain p {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  main .sectioncontain p {
    width: 85%;
  }
}
main .sectioncontain .describe {
  letter-spacing: 1px;
  margin-top: 50px;
}
main .sectioncontain .addressTitle {
  letter-spacing: 1px;
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 20px;
}
main .sectioncontain .transportTitle {
  letter-spacing: 1px;
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 20px;
}

.footer {
  width: 100%;
  height: 104px;
  margin-top: 40px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}/*# sourceMappingURL=attraction.css.map */