@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&display=swap");
* {
    padding: 0;
    font-family: "Noto Sans TC", sans-serif; //網頁字體
}

@mixin screen1200 {
    @media (max-width: 1200px) {
        @content;
    }
}
@mixin screen600 {
    @media (max-width: 600px) {
        @content;
    }
}
@mixin screen360 {
    @media (max-width: 360px) {
        @content;
    }
}

body {
    margin: 54px 0 0;
}

.filmBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    // display: flex;
    display: none;
    justify-content: center;
}
.signinBlock {
    width: 340px;
    height: 275px;
    // height: 298px;
    top: 80px;
    position: fixed;
    z-index: 101;
    display: none;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    .signinBackground {
        width: 100%;
        height: 10px;
        background: linear-gradient(270deg, #378 0%, #6ab 100%);
        border-radius: 6px 6px 0 0;
    }
    .signinClose {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }
    .signinContent {
        width: calc(100% - 30px);
        text-align: center;
        height: 235px;
        // height: 258px;
        background-color: #ffffff;
        border-radius: 0 0 6px 6px;
        padding: 15px;
        box-sizing: content-box;
        .signinTitle {
            height: 27px;
            color: #666666;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 15px;
        }
        input {
            box-sizing: border-box;
            width: 310px;
            height: 47px;
            border-radius: 5px;
            border: 1px Gray solid;
            font-weight: 600;
            margin-bottom: 10px;
            padding: 0 15px;
        }
        .signinBtn {
            cursor: pointer;
            width: 310px;
            height: 47px;
            background-color: #448899;
            border-radius: 5px;
            text-align: center;
            line-height: 47px;
            font-size: 20px;
            font-weight: 700;
            color: white;
            margin-bottom: 10px;
        }

        .signinCreateAccount {
            cursor: pointer;
            color: #666666;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        .signinCreateAccount:hover {
            color: black;
        }
        .signinMessage {
            display: none;
            font-size: 16px;
            font-weight: 700;
            color: red;
            text-align: center;
        }
    }
}

.registerBlock {
    width: 340px;
    height: 332px;
    // height: 355px;
    top: 80px;
    position: fixed;
    z-index: 101;
    display: none;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    .registerBackground {
        width: 100%;
        height: 10px;
        background: linear-gradient(270deg, #378 0%, #6ab 100%);
        border-radius: 6px 6px 0 0;
    }
    .registerClose {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }
    .registerContent {
        width: calc(100% - 30px);
        text-align: center;
        height: 302px;
        // height: 325px;
        background-color: #ffffff;
        border-radius: 0 0 6px 6px;
        padding: 15px;
        box-sizing: content-box;
        .registerTitle {
            height: 27px;
            color: #666666;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 15px;
        }
        input {
            box-sizing: border-box;
            width: 310px;
            height: 47px;
            border-radius: 5px;
            border: 1px Gray solid;
            font-weight: 600;
            margin-bottom: 10px;
            padding: 0 15px;
        }
        .registerBtn {
            cursor: pointer;
            width: 310px;
            height: 47px;
            background-color: #448899;
            border-radius: 5px;
            text-align: center;
            line-height: 47px;
            font-size: 20px;
            font-weight: 700;
            color: white;
            margin-bottom: 10px;
        }

        .registerSignInTo {
            cursor: pointer;
            color: #666666;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        .registerCreateAccount:hover {
            color: black;
        }
        .registerMessage {
            display: none;
            font-size: 16px;
            font-weight: 700;
            color: red;
            text-align: center;
        }
    }
}

.nav {
    width: 100%;
    height: 54px;
    position: fixed;
    z-index: 500;
    background-color: white;
    top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    div.nav_wrap {
        position: fixed;
        top: 0;
        display: flex;
        width: 1200px;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        height: 54px;
        z-index: 501;
        @include screen1200() {
            width: calc(100% - 135px);
        }
        @include screen600() {
            width: calc(100% - 25px);
        }
        div.nav_home {
            cursor: pointer;
            font-size: 30px;
            font-weight: 700;
            color: #448899;
            width: auto;
            line-height: 34px;
            @include screen1200() {
                margin-left: 10px;
            }
        }
        div.nav_menu {
            width: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button.nav_button {
                cursor: pointer;
                padding: 10px;
                background-color: #fff;
                border: none;
                color: #666;
                font-size: 16px;
                font-weight: 500;
                line-height: 13.3px;
                font-family: "Noto Sans TC";
                @include screen360() {
                    padding: 5px;
                }
            }
            button.signout_btn {
                display: none;
            }
        }
    }
}

div.main_page {
    height: 320px;
    overflow: hidden;
    background-size: cover;
    background-image: url("../image/index_hero.png");
    div.main_page_text {
        width: 1180px;
        margin: 0 auto;
        padding: 10px;
        @include screen1200() {
            width: 100%;
            padding: 20px;
        }
        div.main_page_text_title {
            margin-top: 85px;
            color: #f8f8f8;
            font-size: 28px;
            font-weight: 700;
            text-shadow: 0px 0px 30px #abc;
        }
        div.main_page_text_p {
            margin-top: 15px;
            color: #f8f8f8;
            font-size: 16px;
            font-weight: 700;
        }
        form.search_bar {
            display: flex;
            align-items: center;
            margin-top: 25px;
            input.search_bar_input {
                padding: 0;
                width: 400px;
                height: 16px;
                border-radius: 5px 0px 0px 5px;
                border: none;
                box-shadow: 0px 0px 20px 0px #abc;
                padding: 15px;
                font-size: 16px;
                font-weight: 700;
                @include screen600() {
                    width: calc(100% - 135px);
                }
            }
            button.search_bar_button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                border-radius: 0px 5px 5px 0px;
                border: none;
                background-color: #489;
                width: 60px;
                height: 46px;
                img.search_bar_icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

.search_list {
    margin: 40px auto 20px;
    padding: 0px 15px;
    height: 50px;
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include screen1200() {
        padding: 0 15px;
        width: calc(100% - 30px);
    }
    button.search_list_left_arrow {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        background-image: url(../image/normal_left_arrow.png);
    }
    button.search_list_left_arrow:hover {
        background-image: url(../image/hovered_left_arrow.png);
    }
    button.search_list_right_arrow {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        background-image: url(../image/normal_right_arrow.png);
    }
    button.search_list_right_arrow:hover {
        background-image: url(../image/hovered_right_arrow.png);
    }
    div.container {
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: 1066px;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
        @include screen1200() {
            width: calc(100% - 114px);
        }
        .list_item {
            display: inline-block;
            padding: 0 15px;
            background-color: transparent;
            border: none;
            font-size: 16px;
            font-weight: 500;
            color: #666666;
            font-family: "Noto Sans TC", sans-serif;
        }
        .list_item:hover {
            color: #000;
        }
    }
}
div.attractions_container {
    padding: 15px;
    width: 1170px;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    z-index: 1;
    font-size: 24px;
    @include screen1200() {
        width: calc(100% - 30px);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    @include screen600() {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.attraction_box {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    height: 242px;
    position: relative;
    overflow: hidden;
    @include screen600() {
        height: 280px;
    }
}
.attraction_box:hover {
    cursor: pointer;
}

.attraction_box img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 197px;
    @include screen600() {
        height: 235px;
    }
}
.attraction_name {
    position: absolute;
    top: 157px;
    padding-left: 10px;
    height: 40px;
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    @include screen600() {
        top: 195px;
    }
}
.attraction_detail {
    width: calc(100% - 20px);
    height: 45px;
    padding: 0 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #757575;
    font-size: 16px;
    font-weight: 500;
}

.footer {
    width: 100%;
    height: 104px;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
