<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/index.css" />
        <title>Taipei one day trip</title>
    </head>
    <body class="body">
        <section class="signInsignOutReserve">
            <div class="filmBackground">
                <div class="signinBlock">
                    <div class="signinBackground"></div>
                    <img
                        class="signinClose"
                        src="../static/image/close.png"
                        alt="close login block"
                    />
                    <div class="signinContent">
                        <div class="signinTitle">登入會員帳號</div>
                        <input
                            type="email"
                            class="signinEmail"
                            placeholder="輸入電子信箱"
                            name=""
                        />
                        <input
                            type="password"
                            class="signinPassword"
                            placeholder="輸入密碼"
                            name=""
                        />
                        <div class="signinBtn">登入帳戶</div>
                        <div class="signinMessage">登入成功</div>
                        <div class="signinCreateAccount">
                            還沒有帳戶？點此註冊
                        </div>
                    </div>
                </div>
                <div class="registerBlock">
                    <div class="registerBackground"></div>
                    <img
                        class="registerClose"
                        src="../static/image/close.png"
                        alt="close register block"
                    />
                    <div
                        class="registerContent"
                        method="POST"
                        action="/api/user"
                    >
                        <div class="registerTitle">註冊會員帳號</div>
                        <input
                            type="text"
                            class="registerName"
                            name="registerName"
                            placeholder="輸入姓名"
                        />
                        <input
                            type="email"
                            class="registerEmail"
                            name="registerEmail"
                            placeholder="輸入電子信箱"
                        />
                        <input
                            type="password"
                            class="registerPassword"
                            name="registerPassword"
                            placeholder="輸入密碼"
                        />
                        <div class="registerBtn">註冊新帳戶</div>
                        <div class="registerMessage">
                            註冊失敗，點此重新註冊
                        </div>
                        <div class="registerSignInTo">
                            已經有帳戶了？點此登入
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="nav">
            <div class="nav_wrap">
                <div class="nav_home">台北一日遊</div>
                <div class="nav_menu">
                    <button class="nav_button">預定行程</button>
                    <button class="nav_button signin_register_btn">
                        登入/註冊
                    </button>
                    <button class="nav_button signout_btn">登出系統</button>
                </div>
            </div>
        </div>
        <div class="main_page">
            <div class="main_page_text">
                <div class="main_page_text_title">輕鬆享受台北一日悠閒</div>
                <div class="main_page_text_p">
                    探索每個角落，體驗城市的深度旅遊行程
                </div>
                <form class="search_bar">
                    <input
                        type="text"
                        class="search_bar_input"
                        placeholder="輸入景點名稱查詢"
                    />
                    <button class="search_bar_button">
                        <img
                            src="../static/image/search_icon.png"
                            alt="search button"
                            class="search_bar_icon"
                        />
                    </button>
                </form>
            </div>
        </div>
        <div class="search_list">
            <button class="search_list_left_arrow"></button>
            <div class="container"></div>
            <button class="search_list_right_arrow"></button>
        </div>
        <div class="attractions_container"></div>
        <div class="footer">COPYRIGHT © 2023 台北一日遊</div>
        <script src="../static/user.js"></script>
        <script src="../static/index.js"></script>
    </body>
</html>
